body {
	background-color: #FBF1DF;
	font-size: 14pt;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
a:hover,
time {
	color: #8A7263;
}

a {
	text-decoration: underline;
}

time {
	font-style: italic;
}

header {
	background-image: url('../img/header.jpg');
	background-position: center center;
	width: 100%;
	height: 128px;
}

article {
	min-height: 12em;
}

footer {
	margin-top: 2em;
}

header > .container {
	height: 128px;
	position: relative;
}

blockquote {
	margin-left: 2em;
	padding-left: 2em;
	border-left: 1px solid #463C3D
}

.header-title:hover,
.header-title {
	font-size: 32px;
	color: #FBF1DF;
	text-shadow: 1px 1px 2px #463C3D;
	text-decoration: none;
	position: absolute;
	right: 0;
	bottom: 0;
}

.navigation {
	list-style-type: none;
	margin: 0 0 32px 0;
	padding: 0;
}

.navigation-item > a,
.navigation-item > a:hover {
    color: #CC6763;
	border-bottom: 2px solid #CC6763;
	font-size: 12pt;
	padding: 6pt 0;
	font-weight: bold;
	display: block;
	text-align: center;
	width: 100%;
	text-decoration: none;
}

.breadcrumbs {
	font-size: 12pt;
	margin-bottom: 2em;
}

.me {
	width: 100%;
}

@media screen and (min-width: 992px) {
	.me {
		width: 25%;
		float: left;
		margin-left: 1em;
		margin-right: 2em;
		margin-bottom: 2em;
	}
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25% /* 16:9 */;
	padding-top: 25px;
	height: 0;
	margin-bottom: 2em;
}

.video-wrapper > iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.blog-post {
	margin-bottom: 1em;
}

.blog-post > h4,
.blog-post > p {
	margin-bottom: 0;
}

.lyrics > p {
	white-space: pre-line;
	line-height: 176%;
}

.indented {
	margin-left: 2em;
}

.A,
.A7,
.Am,
.Am9,
.AmC,
.AmG,
.B-flat,
.B,
.B7,
.Bm,
.Bm7,
.Bm11,
.C,
.Cm,
.Cmaj7,
.D,
.Dm,
.Dm7,
.E,
.Em,
.Em6,
.Em7,
.F,
.Fm,
.F-sharp-m6,
.Fmaj7,
.G,
.G7,
.Gm,
.Gm11 {
	position: relative;
	top: -0.9em;
	display: inline-block;
	width: 0;
	color: #CC6763;
}

.A:before {
	content: 'A';
}

.A7:before {
	content: 'A\2087';
}

.Am:before {
	content: 'A\2098';
}

.Am9:before {
	content: 'A\2098\2089';
}

.AmC:before {
	content: 'A\2098/C';
}

.AmG:before {
	content: 'A\2098/G';
}

.B-flat:before {
    content: 'B\266D';
}

.B:before {
	content: 'B';
}

.B7:before {
	content: 'B\2087';
}

.Bm:before {
	content: 'B\2098';
}

.Bm7:before {
	content: 'B\2098\2087';
}

.Bm11:before {
	content: 'B\2098\2081\2081';
}

.C:before {
	content: 'C';
}

.Cm:before {
	content: 'C\2098';
}

.Cmaj7:before {
	content: 'C\2098\2090\2C7C\2087';
}

.D:before {
	content: 'D';
}

.Dm:before {
	content: 'D\2098';
}

.Dm7:before {
	content: 'D\2098\2087';
}

.E:before {
	content: 'E';
}

.Em:before {
	content: 'E\2098';
}

.Em6:before {
	content: 'E\2098\2086';
}

.Em7:before {
	content: 'E\2098\2087';
}

.F:before {
	content: 'F';
}

.Fm:before {
	content: 'F\2098';
}

.F-sharp-m6:before {
	content: 'F\266F\2098\2086';
}

.Fmaj7:before {
	content: 'F\2098\2090\2C7C\2087';
}

.G:before {
	content: 'G';
}

.G7:before {
	content: 'G\2087';
}

.Gm:before {
	content: 'G\2098';
}

.Gm11:before {
	content: 'G\2098\2081\2081';
}
