header {
	background-image: url('../img/header.png');
	background-position: center center;
	width: 100%;
	height: 256px;
}

article {
	height: 100%;
	min-height: 100%;
}

footer {
	margin-top: 2em;
}

.header-title,
.header-subtitle {
    color: white;
    text-shadow: black 2px;
    text-align: center;
}

.header-title {
	font-size: 144%;
}

.header-subtitle {
	font-size: 120%;
	letter-spacing: 0.1ex;
}

.lyrics {
	display: table;
	margin: 0 auto;
	white-space: pre-line;
	word-wrap: break-word;
}

.indented {
	margin-left: 2em;
}