body {
	background-color: #FBF1DF;
	font-size: 14pt;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
a:hover,
time {
	color: #8A7263;
}

a {
	text-decoration: underline;
}

time {
	font-style: italic;
}

header {
	background-image: url('../img/header.jpg');
	background-position: center center;
	width: 100%;
	height: 128px;
}

article {
	min-height: 12em;
}

footer {
	margin-top: 2em;
}

header > .container {
	height: 128px;
	position: relative;
}

.header-title:hover,
.header-title {
	font-size: 32px;
	color: white;
	text-shadow: 1px 1px 2px #463C3D;
	text-decoration: none;
	position: absolute;
	right: 0;
	bottom: 0;
}

.navigation {
	list-style-type: none;
	margin: 0 0 32px 0;
	padding: 0;
}

.navigation-item > a,
.navigation-item > a:hover {
	border-bottom: 2px solid #463C3D;
	font-size: 16px;
	padding: 4px 0;
	font-weight: bold;
	display: block;
	text-align: center;
	width: 100%;
	text-decoration: none;
}

.breadcrumbs {
	font-size: 16px;
	margin-bottom: 2em;
}

.lyrics > p {
	white-space: pre-line;
	line-height: 144%;
}

.indented {
	margin-left: 2em;
}

.A,
.Am,
.Bb,
.B,
.Bm,
.B7,
.C,
.Cm,
.D,
.Dm,
.E,
.Em,
.F,
.Fm,
.G,
.Gm {
	position: relative;
	top: -0.9em;
	display: inline-block;
	width: 0;
	color: #CC6763;
	font-size: 80%;
}

.A:before {
	content: 'A';
}

.Am:before {
	content: 'A\2098';
}

.Bb:before {
    content: 'B\266D';
}

.B:before {
	content: 'B';
}

.Bm:before {
	content: 'B\2098';
}

.B7:before {
	content: 'B\2087';
}

.C:before {
	content: 'C';
}

.Cm:before {
	content: 'C\2098';
}

.D:before {
	content: 'D';
}

.Dm:before {
	content: 'D\2098';
}

.E:before {
	content: 'E';
}

.Em:before {
	content: 'E\2098';
}

.F:before {
	content: 'F';
}

.Fm:before {
	content: 'F\2098';
}

.G:before {
	content: 'G';
}

.Gm:before {
	content: 'G\2098';
}
