---
layout: main
excerpt: Всякая всячина.
---

{% if paginator.total_pages == 1 %}
  {% assign page.title = "Журнал" %}
{% else %}
  {% assign page.title = "Журнал (страница " | append: paginator.page | append: " из " | append: paginator.total_pages | append: ")" %}
{% endif %}

<h2>{{ title }}</h2>

<div class="blog">
{% for post in paginator.posts %}
  <div class="blog-post">
    <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
    <p><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d-%m-%Y" }}</time></p>
    <p><em>{{ post.excerpt | strip_html | normalize_whitespace | escape }}</em></p>
  </div>
{% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<nav>
  <ul class="pagination justify-content-center">
    {% if paginator.previous_page %}
    <li class="page-item"><a href="{{ paginator.previous_page_path }}" class="page-link">Назад</a></li>
    {% else %}
    <li class="page-item disabled"><a href="{{ paginator.previous_page_path }}" class="page-link">Назад</a></li>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
    <li class="page-item active"><a href="{{ site.paginate_path | relative_url | replace: ':num', page }}" class="page-link">{{ page }}</a></li>
      {% elsif page == 1 %}
    <li class="page-item"><a href="{{ '/blog' | relative_url }}" class="page-link">{{ page }}</a></li>
      {% else %}
    <li class="page-item"><a href="{{ site.paginate_path | relative_url | replace: ':num', page }}" class="page-link">{{ page }}</a></li>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <li class="page-item"><a href="{{ paginator.next_page_path }}" class="page-link">Вперёд</a></li>
    {% else %}
    <li class="page-item disabled"><a href="{{ paginator.next_page_path }}" class="page-link">Вперёд</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
